@tailwind base;
@tailwind components;
@tailwind utilities;

h2, h3, h6 {
  text-transform: uppercase;
}

h3.card-title, h6.card-title{
    display: block;
}

h2:after, h3:after, h6:after {
  background: #ef4444;
  content: '';
  display: block;
  height: 5px;
  margin: 5px auto 0 0;
  width: 60px;
}

header.navbar ul.menu a {
  text-transform: uppercase;
}

#unix-intro {
  background: transparent
    url(../public/assets/unix_logo.png)
    no-repeat scroll;
  display: block;
  height: 50px;
  width: 150px;
  align-self: center;
}
.unix-intro {
  text-indent: -99999px;
}

