<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Shopping Cart</h1>
    <form action="#" th:action="@{/updatecart}" method="post">
        <table>
            <tr>
                <th>user</th>
                <th>Item</th>
                <th>Count</th>
                <th>Cost</th>
            </tr>
            <tr th:each="item : ${cartItems}">
                <td th:text="${item.user}">user</td>
                <td th:text="${item.name}">Item</td>
                <td>
                    <label for="Count"></label>
                    <input type="number" required value="0" min = 0 id = "Count"  th:name="${item.name}" th:value="${item.amount}"/>
                </td>
                <td th:text="${item.cost}">Cost</td>
            </tr>

        </table>
        <button type="submit">Update Cart</button>
    </form>
    <div>
        <a href="/newname">Add new item</a>
        <a href="/delname">Remove item</a>
        <a href="/updatename">Update item</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
